[defaults]
inventory = hosts.ini
host_key_checking = False
display_skipped_hosts=False
deprecation_warnings=False
callback_whitelist = profile_tasks
; to supress Interpreter Discovery warning in VENV: set it appropriately, or comment it out
; USER dynamic. Please install VENV in the same directory: ps-wb
interpreter_python = .venv/bin/python

[ssh_connection]
;ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
;control_path = /dev/shm/cp%%h-%%p-%%r
;TODO: avoid ssh.cfg
;ssh_args = -F ./files/ssh.cfg -o ControlMaster=auto -o ControlPersist=30m

[callback_profile_tasks]
task_output_limit = 40
